<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="31"></spacer>
            <h2 class="main__title">
                Спасибо, что обратились к нам!
            </h2>
            <spacer size="13"></spacer>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <p class="main__text">
                Мы обработаем ваше обращение настолько быстро, насколько это возможно. Для этого мы работаем 24 часа в сутки 7 дней в неделю.
            </p>
            <spacer class="spacer" size="32"></spacer>
            <p class="main__text">
                Пожалуйста, не отправляйте несколько писем по одному вопросу и сохраняйте тему письма при переписке, это поможет ускорить обработку вашей заявки.
            </p>
            <spacer class="spacer" size="35"></spacer>
        </columns>
    </row>
</wrapper>
<wrapper class="main">
    <row>
        <columns>
            <spacer  class="background-gray" size="24"></spacer>
            <p class="main__text text-center background-gray">
                Номер вашей заявки: <span>2016070710459781</span>
            </p>
            <spacer  class="background-gray" size="27"></spacer>
        </columns>
    </row>
    <spacer size="49"></spacer>
</wrapper>