<wrapper class="header background-gray">
    <row>
        <columns large='6' small="12" class="header__logo">
            <spacer size="40"></spacer>
            <row>
                <columns class="header__logo_img" small="6" large="6">
                    <a href="https://slam.by/">
                        <img src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/logo_scale.png" alt="logo">
                    </a>
                </columns>
            </row>

            <spacer size="20" class="small-show"></spacer>
            <spacer size="47" class="small-hidden"></spacer>
        </columns>
        <columns large='6' small="12" class="header__phone">
            <spacer size="0" class="small-show"></spacer>
            <spacer size="54" class="small-hidden"></spacer>
                <row>
                    <columns class="header__phone">
                        <a href="tel:+71232595-20" class="header__phone_link">
                            <img
                                    width="100%"
                                    src="./assets/img/icon/phone_scale_13.png"
                                    alt="phone">
                            <span>&nbsp;+7 (812) 325-95-20</span>
                        </a>
                    </columns>
                </row>
            <spacer size="47"></spacer>
        </columns>
    </row>
</wrapper>