// Body Styles
body,
html,
.body {
  background: $white !important;
  //max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.width-560 {
  width: 93% !important;
  margin: 0;
}

.background-gray {
  background: $light-gray;
}


ol {
  margin: 0;
  padding-left: 49px;
}
li {
  padding-left: 10px;
}
.small-show {
  display: none;
}

.link_blue {
  color: $link-color !important;
}

.link_blue:hover {
  color: $link-color-preset !important;
}

.link_blue:visited {
  color: $link-color-visited !important;
}

table.container-big {
  width: 600px;
  margin: 0 -20px 0 -20px !important;
  .columns-big {
    padding-left: 40px;
    padding-right: 40px;
    &.columns-big-padding {
      &.first {
        padding-right: 10px;
      }
      &.last {
        padding-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  table.container-big.container {
    width: 100% !important;
    margin: 0 -20px 0 -20px !important;
    .columns-big {
      padding: 0 20px 0 20px !important;
      &.columns-big-padding {
        &.first {
          padding-right: 20px !important;
        }
        &.last {
          padding-left: 20px !important;
        }
      }
    }
  }
}