@media only screen and (max-width: #{$global-breakpoint}) {

  table.container {
    width: 100% !important;
  }

  .width-560 {
    width: 100% !important;
  }

  .header__logo p {
    padding-top: 37px;
    padding-bottom: 20px !important;
  }
  .header__phone_link {
    padding-top: 0px !important;
    text-align: left !important;
    margin-left: 20px !important;
  }

  .header__phone th {
    text-align: left !important;
  }

  .contact__text {
    text-align: left !important;
    margin-left: 20px !important;
  }

  .contact__icon-skype, .contact__icon-telegram {
    width: 40px !important;
  }

  .contact__icon-wapp, .contact__icon-viber {
    width: 40px !important;
  }

  .small-show {
    display: table !important;
  }

  .small-hidden {
    display: none;
  }

  .header__phone_icon img {
    width: 15px !important;
  }
  .contact__icon img {
    width: 13px !important;
  }

  .contact__icon-big img {
    width: 32px !important;
  }
}

@media only screen and (max-width: 440px) {
  .service__link {

    font-size: 16px !important;
    span {
      line-height: 60px !important;
    }
    &-cure span {
      line-height: 60px !important;
    }
    img {
      width: 60px !important;
    }
  }

  .contact__icon img {
    width: 13px !important;
  }

  .contact__icon-big img {
    width: 32px !important;
  }
}

@media only screen and (max-width: 380px) {
  .service__link {

    font-size: 14px !important;
    span {
      line-height: 50px !important;
    }
    &-cure span {
      line-height: 50px !important;
    }
    img {
      width: 50px !important;
    }
  }

  .contact__icon img {
    width: 13px !important;
  }

  .contact__icon-big img {
    width: 32px !important;
  }
}
