p {
  margin-bottom: 0;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0px;
}

hr {
  color: #F1F0F2 !important;
  border: none !important;
  border-top: 1px solid #F1F0F2 !important;
  margin: 0;
}

hr.hr-light {
  color: #F1F0F2 !important;
  border: none !important;
  border-top: 1px solid #ffffff !important;
  border-bottom: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  margin: 0;
}