.header {
  &__phone tr{
    text-align: right !important;
  }


  &__phone {

    th {
      text-align: right !important;
    }

    &_link {

      img {
        //float: left;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        line-height: 15px;
      }
      text-align: right !important;
      color: $purple-color;
      font-size: 19px;
    }
  }

}