.header {
  width:93%;
  
  &__logo, &__phone {
    padding: 0 20px 0 20px !important;
  }
  &__phone tr{
    text-align: right !important;
  }


  &__phone {
    th {
      text-align: right;
    }

    &_link {

      color: $purple-color;
      font-size: 19px;
      img {
        display: inline-block;
        vertical-align: top;
      }
      span {
        line-height: 15px;
      }
    }
  }

}