.service {
  width: 93%;
  .service__item {
    padding: 0 20px 0 20px !important;
  }
  &__item {
    padding-bottom: 0 !important;
  }

  &__item_wrap {
    width: auto !important;
  }

  &__icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin-right: 24px;
    vertical-align: middle !important;
  }

  &__icon img {
    height: 100% !important;
    width: 100% !important;
  }

  &__text {
    font-size: 22px;
    letter-spacing: 1px;
    padding-top: 6px;
    vertical-align: middle !important;
  }

  &__link {
    img {
      //float: left;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      //float: left;
      //line-height: 78px;
      vertical-align: middle;
    }
    &-cure span {
      //line-height: 85px;
      vertical-align: middle;
    }
  }
}

.service__text-equipment {
  img {
    width: 80px;
  }
}