<wrapper class="footer background-gray ">
    <row class="spacer">
        <columns>
            <spacer size="27"></spacer>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="columns-big">
            <p class="footer__text">
                Вы получили данное письмо, так ка подписаны на рассылку
                <a href="https://slam.by/" class="link_blue">Iclinic</a>
            </p>
        </columns>
    </row>
    <row class="spacer">
        <columns>
            <spacer size="6"></spacer>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="columns-big">
            <p class="footer__text">
                <a href="https://slam.by/" class="link_blue">отписаться от рассылки</a>
            </p>
        </columns>
    </row>
    <row class="spacer">
        <columns>
            <spacer size="32"></spacer>
        </columns>
    </row>
</wrapper>