
<wrapper class="main background-gray">
    <row>
        <columns large='12' small="12" class="main__text columns-big">
            <spacer  size="28"></spacer>
            <h2 class="main__title main__title-big">
                Новые товары в разделе «Оборудование»
            </h2>
            <spacer  size="26"></spacer>
        </columns>
    </row>
    <row>
        <columns large='6' small="12" class="main__text columns-big columns-big-padding">
            <center>
                <img width="100%" class="main__images" src="https://source.unsplash.com/random/250x260" alt="image">
            </center>
            <spacer  size="15"></spacer>
            {{> hr }}
            <spacer  size="11"></spacer>
            <p class="main__text main__text-card_title">
                Кровать родильная 
            </p>
            <spacer  size="0"></spacer>
            <p class="main__text main__text-card_title">
                и для обследований VITA
            </p>
            <spacer  size="11"></spacer>
            <p class="main__text main__text-price main__text-price_big">
                220 000 ₽
            </p>
            <spacer  size="39"></spacer>
        </columns>
        <columns large='6' small="12" class="main__text columns-big columns-big-padding">
            <center>
                <img width="100%" class="main__images" src="https://source.unsplash.com/random/250x260" alt="image">
            </center>
            <spacer  size="15"></spacer>
            {{> hr }}
            <spacer  size="11"></spacer>
            <p class="main__text main__text-card_title">
                Кровать родильная 
            </p>
            <spacer  size="0"></spacer>
            <p class="main__text main__text-card_title">
                и для обследований VITA
            </p>
            <spacer  size="11"></spacer>
            <p class="main__text main__text-price main__text-price_big">
                220 000 ₽
            </p>
            <spacer  size="39"></spacer>
        </columns>
    </row>
</wrapper>