<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="35"></spacer>
            <h2 class="main__title main__title-features">
                Особенности
            </h2>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <ul class="main__text main__text-features">
                <li><span class="bullet">•</span>Разработано Apple</li>
                <li><span class="bullet">•</span>Автоматическое включение и подключение</li>
                <li><span class="bullet">•</span>Настройка всех устройств Apple одним касанием(1)</li>
                <li><span class="bullet">•</span>Быстрый доступ к Siri двойным касанием</li>
                <li><span class="bullet">•</span>До 24 часов работы при использовании зарядного чехла (3)</li>
                <li><span class="bullet">•</span>Быстрая подзарядка в чехле</li>
                <li><span class="bullet">•</span>Потрясающее качество звука и голоса</li>
                <li><span class="bullet">•</span>Лёгкое переключение между устройствами</li>
            </ul>
        </columns>

    </row>
</wrapper>

