<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="31"></spacer>
            <h2 class="main__title">
                Последние новости
            </h2>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <spacer size="4"></spacer>
            <p class="main__text">
                Актуальные новинки нашего клуба «Iclinic»!
            </p>
            <spacer  size="11"></spacer>
        </columns>
    </row>
</wrapper>
<wrapper class="main">
    <row>
        <columns large='12' small="12">
            <center>
                <img width="100%" class="main__images" src="https://source.unsplash.com/random/520x190" alt="image">
            </center>
        </columns>
    </row>
    <spacer size="9"></spacer>
</wrapper>
<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__text">
            <p class="main__text">
                Рекомендуем Вам подписаться на наши группы в Facebook и Вконтакте - там мы тоже иногда публикуем информацию о проектах в продаже и делимся опытом по сделкам с IT компаниями.
            </p>
            <spacer  size="20"></spacer>
        </columns>
    </row>
</wrapper>
<wrapper class="main">
    <row>
        <columns large='6' small="12" class="main__text">
            <img width="100%" class="main__images" src="https://source.unsplash.com/random/240x280" alt="image">
            <spacer  size="30"></spacer>
        </columns>
        <columns large='6' small="12" class="main__text">
            <p class="main__text">
                Данное подтверждение нужно, чтобы оградить вас от получения непрошенных рассылок.
                Мы же будем иногда присылать интересные статьи из нашего блога, посвященного сделкам с IT компаниями, а также персональные рекомендации о том, как быстрее и выгодее продать ваш бизнес.
            </p>
            <spacer  size="30"></spacer>
        </columns>
    </row>
</wrapper>
<row>
    <columns>
        <spacer  size="0"></spacer>
    </columns>
</row>
{{> hr}}
<row>
    <columns>
        <spacer  size="18"></spacer>
    </columns>
</row>

<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__text">
            <p class="main__text">
                Рекомендуем Вам подписаться на наши группы в Facebook и Вконтакте - там мы тоже иногда публикуем информацию о проектах в продаже и делимся опытом по сделкам с IT компаниями. Ссылки на паблике в подписи к письму.
            </p>
            <spacer  size="32"></spacer>
            <p class="main__text">
                Отменить подписку вы сможете также быстро – в каждом письме будет нужная ссылка
            </p>
            <spacer  size="32"></spacer>
        </columns>
    </row>
</wrapper>