<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="35"></spacer>
            <h2 class="main__title main__title-features">
                Особенности
            </h2>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text main__text-features">
            <spacer size="17"></spacer>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>Разработано Apple</p>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>Автоматическое включение и подключение</p>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>Настройка всех устройств Apple одним касанием(1)</p>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>Быстрый доступ к Siri двойным касанием</p>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>До 24 часов работы при использовании зарядного чехла (3)</p>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>Быстрая подзарядка в чехле</p>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>Потрясающее качество звука и голоса</p>
            <p><span class="bullet">•&nbsp;&nbsp;&nbsp;&nbsp;</span>Лёгкое переключение между устройствами</p>
            <spacer size="10"></spacer>
        </columns>
    </row>
</wrapper>


