<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="31"></spacer>
            <h2 class="main__title">
                Здравствуйте, <span>Виктор Андреевич</span>
            </h2>

            <spacer size="13"></spacer>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <p class="main__text">
                Ваш заказ <b>#241097960</b> отменен.
            </p>
            <spacer class="spacer" size="31"></spacer>
            <p class="main__text">
                Вы можете в любой момент связаться со службой поддержки «Iclinic». По номеру телефона: +7 (812) 325-95-20
            </p>
            <spacer class="spacer" size="10"></spacer>

        </columns>
    </row>
</wrapper>