<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="31"></spacer>
            <h2 class="main__title">
                Восстановление пароля
            </h2>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <spacer size="4"></spacer>
            <p class="main__text">
                Для сброса пароля на сайте «Iclinic» перейдите <a href="https://slam.by/" class="link_blue">по ссылке</a>.
            </p>
            <spacer size="0"></spacer>
            <p class="main__text">
                Мы отправим новый пароль на email, указанный при регистрации
            </p>
            <spacer class="spacer" size="21"></spacer>
        </columns>
    </row>
</wrapper>