<!-- <hr> start -->
<row>
    <columns large='12' small="12">
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last hr">
                    <table>
                        <tr>
                            <th>
                                <hr>
                            </th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
    </columns>
</row>
<!-- <hr> end -->