<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="31"></spacer>
            <h2 class="main__title">
                Ваши данные были изменены
            </h2>
            <spacer size="13"></spacer>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <p class="main__text">
                Телефон в личном кабинете был только что изменен.
            </p>
            <spacer class="spacer" size="0"></spacer>
            <p class="main__text">
                Если это были вы, можете проигнорировать это сообщение.
            </p>
            <spacer class="spacer" size="34"></spacer>
            <p class="main__text">
                Если это сделали не вы, ваша учетная запись была скомпрометирована. Выполните следующие действия:
            </p>
        </columns>
    </row>
</wrapper>
<wrapper class="main">
    <row>
        <columns>
                <p class="main__text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>1</span>&nbsp;&nbsp;&nbsp;Сбросьте свой пароль.</p>
                <p class="main__text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2</span>&nbsp;&nbsp;&nbsp;Узнайте, как защитить свою учетную запись.</p>
        </columns>
    </row>
</wrapper>
<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__text">
            <spacer class="spacer" size="34"></spacer>
            <p class="main__text">
                Чтобы отказаться от уведомлений о безопасности или настроить адрес для их получения, щелкните <a
                    href="https://slam.by/" class="link_blue">здесь</a>.
            </p>
            <spacer class="spacer" size="14"></spacer>
        </columns>
    </row>
</wrapper>