<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="31"></spacer>
            <h2 class="main__title">
                Здравствуйте, <span>Виктор Андреевич</span>
            </h2>
            <spacer size="13"></spacer>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <p class="main__text">
                Спасибо за Ваш заказ на сайте «Iclinic»!
            </p>
            <spacer size="30"></spacer>
            <p class="main__text">
                Как только заказ будет отгружен, мы вышлем вам электронное письмо со ссылкой, по которой можно
                отслеживать процесс доставки. Вы в любой момент можете проверить статус заказа на
                <a href="https://slam.by" class="link_blue">сайте</a>, посетив свою учётную запись.
            </p>
            <spacer size="31"></spacer>
            <p class="main__text">
                Если у Вас возникли вопросы по поводу Вашего заказа, пожалуйста, свяжитесь с нами по адресу <a
                    href="mailto:ooocmb@mail.ru" class="link_blue">ooocmb@mail.ru</a> или по телефону +7 (812) 325-95-20
                в рабочие дни с 09:00 до 21:00.
            </p>
            <spacer size="32"></spacer>
            <p class="main__text">
                Информация о вашем заказе находится ниже.
            </p>
        </columns>
    </row>
</wrapper>

<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="39"></spacer>
            <h2 class="main__title">
                Ваш заказ <span>#241097960</span>
            </h2>
            <h2 class="main__title">
                (создан 17 июня 2018 г. 1:45:52 MSK)
            </h2>
            <spacer size="9"></spacer>
        </columns>
    </row>

    <row class="main__order_info_cards_wrap">
        <columns large='6' small="12" class="main__order_info_card_columns">
            <wrapper class="background-gray main__order_info_card_wrap">
                <row>
                    <columns large='12' small="12" class="main__order_info_card">
                        <spacer size="19"></spacer>
                        <p class="main__text-title_info_card">
                            Информация о доставке
                        </p>
                    </columns>
                </row>
                <row>
                    <columns large='12' small="12" class="">
                        <spacer size="14"></spacer>
                        {{> hr_light}}
                        <spacer size="14"></spacer>
                    </columns>
                </row>
                <row>
                    <columns large='12' small="12" class="main__order_info_card">

                        <p class="main__text_info_card">
                            Виктор Андреевич Кириллов
                        </p>
                        <p class="main__text_info_card">
                            пр-кт. Королёва, 7 кв 13
                        </p>
                        <p class="main__text_info_card">
                            Санкт-Петербург, Россия
                        </p>
                        <p class="main__text_info_card">
                            T: +7 (910) 720-87-47
                        </p>

                        <spacer size="28"></spacer>
                    </columns>
                </row>
            </wrapper>
        </columns>


        <columns large='6' small="12" class="main__order_info_card_columns">
            <wrapper class="background-gray main__order_info_card_wrap">
                <row>
                    <columns large='12' small="12" class="main__order_info_card">
                        <spacer size="19"></spacer>
                        <p class="main__text-title_info_card">
                            Способ доставки
                        </p>
                    </columns>
                </row>
                <row>
                    <columns large='12' small="12" class="">
                        <spacer size="14"></spacer>
                        {{> hr_light}}
                        <spacer size="14"></spacer>
                    </columns>
                </row>
                <row>
                    <columns large='12' small="12" class="main__order_info_card">

                        <p class="main__text_info_card">
                            Пункт самовывоза - О-Курьер
                        </p>

                        <spacer size="91"></spacer>
                    </columns>
                </row>
            </wrapper>
        </columns>
    </row>
</wrapper>
<wraper>
    <row>
        <columns>
            <spacer size="43"></spacer>
        </columns>
    </row>
</wraper>
<wrapper class="main main__table">
    <row class="main__table_head">
        <columns class="background-gray">
            <spacer size="6"></spacer>
            <row>
                <columns large='4' small="6">
                    <p class="text-left">
                        Наименование
                    </p>
                </columns>
                <columns large='3' small="3">

                    <p class="text-center">
                        Артикул&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='3' small="3">
                    <p class="text-center">
                        Кол-во&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='2' small="2" >
                    <p class="text-right">
                        Цена&nbsp;
                    </p>
                </columns>
            </row>
            <spacer size="6"></spacer>
        </columns>
    </row>
</wrapper>
<wrapper class="main main__table">
    <row class="main__table_body">
        <columns>
            <spacer size="17"></spacer>
            <row>
                <columns large='4' small="6">
                    <p class="text-left">
                        Анестезиологические дыхательные контуры
                    </p>
                </columns>
                <columns large='3' small="3">

                    <p class="text-center">
                        123456789&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='3' small="3">
                    <p class="text-center">
                        2&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='2' small="2" >
                    <p class="text-right">
                        <b>220 000 ₽&nbsp;&nbsp;</b>
                    </p>
                </columns>
            </row>
            <spacer size="13"></spacer>
        </columns>
    </row>
</wrapper>
<wraper>
    <row>
        <columns>
            {{> hr }}
        </columns>
    </row>
</wraper>
<wrapper class="main main__table">
    <row class="main__table_body">
        <columns>
            <spacer size="17"></spacer>
            <row>
                <columns large='4' small="6">
                    <p class="text-left">
                        Анестезиологические дыхательные контуры
                    </p>
                </columns>
                <columns large='3' small="3">

                    <p class="text-center">
                        123456789&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='3' small="3">
                    <p class="text-center">
                        2&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='2' small="2" >
                    <p class="text-right">
                        <b>220 000 ₽&nbsp;&nbsp;</b>
                    </p>
                </columns>
            </row>
            <spacer size="13"></spacer>
        </columns>
    </row>
</wrapper>
<wraper>
    <row>
        <columns>
            {{> hr }}
        </columns>
    </row>
</wraper>
<wrapper class="main main__table">
    <row class="main__table_body">
        <columns>
            <spacer size="17"></spacer>
            <row>
                <columns large='4' small="6">
                    <p class="text-left">
                        Анестезиологические дыхательные контуры
                    </p>
                </columns>
                <columns large='3' small="3">

                    <p class="text-center">
                        123456789&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='3' small="3">
                    <p class="text-center">
                        2&nbsp;&nbsp;
                    </p>
                </columns>
                <columns large='2' small="2" >
                    <p class="text-right">
                        <b>220 000 ₽&nbsp;&nbsp;</b>
                    </p>
                </columns>
            </row>
            <spacer size="13"></spacer>
        </columns>
    </row>
</wrapper>
<wraper>
    <row>
        <columns>
            {{> hr }}
        </columns>
    </row>
</wraper>

<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="17"></spacer>
            <p class="main__text order__quantity_text_big">
                <b>Сумма заказа: 10 000 000,00 ₽</b>
            </p>
            <p class="main__text order__quantity_text_small">
                в т. ч. НДС: 36,90 ₽
            </p>
            <p class="main__text order__quantity_text_small">
                Доставка: 241,90 ₽
            </p>
            <spacer size="9"></spacer>
            <p class="main__text order__quantity_text_big">
                <b>Итого: 10 000 277,00 ₽</b>
            </p>
            <spacer size="27"></spacer>
        </columns>
    </row>

</wrapper>