<wrapper class="service background-gray">
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="38"></spacer>
            <table class="row service__item_wrap">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tr>
                            <th class="service__icon">
                                <img
                                        width="100%"
                                        src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/equipment.png"
                                        alt="icon">
                            </th>
                            <th class="service__text">
                                <a href="tel:+71232595-20">
                                    Оборудование
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="42"></spacer>
            <table class="row service__item_wrap">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th class="service__icon">
                                    <img
                                            width="100%"
                                            src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/materials.png"
                                            alt="icon">
                                </th>
                                <th class="service__text">
                                    <a href="tel:+71232595-20">
                                        Расходные материалы
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="46"></spacer>
            <table class="row service__item_wrap">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th class="service__icon">
                                    <img
                                            width="100%"
                                            src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/furniture.png"
                                            alt="icon">
                                </th>
                                <th class="service__text">
                                    <a href="tel:+71232595-20">
                                        Мебель
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="45"></spacer>
            <table class="row service__item_wrap">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th class="service__icon">
                                    <img
                                            width="100%"
                                            src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/cure.png"
                                            alt="icon">
                                </th>
                                <th class="service__text">
                                    <a href="tel:+71232595-20">
                                        Лекарственные средства
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <spacer size="40"></spacer>
        </columns>
    </row>
</wrapper>