<row >

    <columns>
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-6 columns first last">
                    <table>
                        <tr>
                            <th class="contact__icon contact__icon-big contact__icon-viber">
                                <img
                                        width="100%"
                                        src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/messenger/viber.png"
                                        alt="viber">
                            </th>
                            <th class="contact__link contact__link-messenger">
                                <a href="https://slam.by">
                                    +7 (123) 456-78-90
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
    <columns>
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-6 columns first last">
                    <table>
                        <tr>
                            <th class="contact__icon contact__icon-big contact__icon-telegram">
                                <img
                                        width="100%"
                                        src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/messenger/telegram.png"
                                        alt="viber">
                            </th>
                            <th class="contact__link contact__link-messenger">
                                <a href="https://slam.by">
                                    +7 (123) 456-78-90
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
</row>
<row>
    <columns>
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-6 columns first last">
                    <table>
                        <tr>
                            <th class="contact__icon contact__icon-big contact__icon-wapp">
                                <img
                                        width="100%"
                                        src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/messenger/wapp.png"
                                        alt="wapp">
                            </th>
                            <th class="contact__link contact__link-messenger">
                                <a href="https://slam.by">
                                    +7 (123) 456-78-90
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
    <columns>
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-6 columns first last">
                    <table>
                        <tr>
                            <th class="contact__icon contact__icon-big contact__icon-skype">
                                <img
                                        width="100%"
                                        src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/messenger/skype.png"
                                        alt="skype">
                            </th>
                            <th class="contact__link contact__link-messenger">
                                <a href="https://slam.by">
                                    ooocmb
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
</row>