<row >
    <columns class="contact__messenger">
        <table class="row">
            <tbody>
            <tr>
                <th class="  small-12 large-6 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-messenger">
                                <a href="https://slam.by">
                                    <img
                                            width="100%"
                                            src="./assets/img/messenger/viber_scale.png"
                                            alt="viber">
                                    <span class="contact__letter_space--viber">&nbsp;</span><span>+7 (123) 456-78-90</span>
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
    <columns class="contact__messenger">
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-6 columns first last">
                    <table>
                        <tr>

                            <th class="contact__link contact__link-messenger">
                                <a href="https://slam.by">
                                    <img
                                            width="100%"
                                            src="./assets/img/messenger/telegram_scale.png"
                                            alt="telegram">
                                    <span class="contact__letter_space--telegram">&nbsp;</span><span>+7 (123) 456-78-90</span>
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
</row>
<row>
    <columns class="contact__messenger">
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-6 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-messenger">
                                <a href="https://slam.by">
                                    <img
                                            width="100%"
                                            src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/messenger/wapp_scale.png"
                                            alt="wapp">
                                    <span class="contact__letter_space--wapp">&nbsp;</span><span>+7 (123) 456-78-90</span>
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
    <columns class="contact__messenger">
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-6 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-messenger contact__link-messenger--skype">
                                <a href="https://slam.by">
                                    <img
                                            width="100%"
                                            src="./assets/img/messenger/skype_scale.png"
                                            alt="skype">
                                    <span class="contact__letter_space--skype">&nbsp;</span><span>ooocmb</span>
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="18"></spacer>
    </columns>
</row>