<row  >
    <columns>
        <spacer size="35"></spacer>
    </columns>
</row>
<row>
    <columns large='4' small="12" class="service__item contact__label">

        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-top">
                                <a href="https://slam.by">
                                    Личный кабинет
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="12"></spacer>
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-top">
                                <a href="tel:+7123259520">
                                    Написать нам
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="12"></spacer>
    </columns>

    <columns large='4' small="12" class="service__item outlook-group-fix">

        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-top">
                                <a href="tel:+78123259520">
                                    <img
                                            width="100%"
                                            src="https://gitlab.com/devslam/SMV/raw/post_template/src/post/src/assets/img/icon/phone_scale_13-contact.png"
                                            alt="icon">
                                    <span>&nbsp;&nbsp;</span><span>+7 (812) 325-95-20</span>
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="12"></spacer>
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-top">
                                <a href="tel:+74957370915">
                                    <img
                                            width="100%"
                                            src="https://gitlab.com/devslam/SMV/raw/post_template/src/post/src/assets/img/icon/empty_scale.png"
                                            alt="icon">
                                    <span>&nbsp;&nbsp;</span><span>+7 (495) 737-09-15</span>
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="12"></spacer>
    </columns>

    <columns large='4' small="12" class="service__item outlook-group-fix">

        <table class="row">
            <tbody class="contact__item-email">
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-top">

                                <a href="mailto:ooocmb@mail.ru">
                                    <img
                                            class="contact__link_img-email"
                                            width="100%"
                                            src="https://gitlab.com/devslam/SMV/raw/post_template/src/post/src/assets/img/icon/mail_scale.png"
                                            alt="icon">
                                    <span>&nbsp;&nbsp;</span><span>ooocmb@mail.ru</span>
                                </a>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="12"></spacer>
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tr>
                            <th class="contact__link contact__link-top">
                                <p href="">
                                    <img
                                            width="100%"
                                            src="https://gitlab.com/devslam/SMV/raw/post_template/src/post/src/assets/img/icon/empty_scale.png"
                                            alt="icon">
                                    <span>&nbsp;&nbsp;</span><span>&nbsp;&nbsp;</span>
                                </p>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        <spacer size="12"></spacer>
    </columns>

</row>
<row>
    <columns>
        <spacer size="14"></spacer>
    </columns>
</row>
