<wrapper class="main">
    <row>
        <columns large='12' small="12" class="main__title">
            <spacer size="31"></spacer>
            <h2 class="main__title">
                Восстановление пароля
            </h2>
            <spacer size="13"></spacer>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="main__text">
            <p class="main__text">
                Ваш новый пароль для входа на сайт Iclinic: <b>yQ7E0JaF</b>
            </p>

            <spacer class="spacer" size="21"></spacer>
        </columns>
    </row>
</wrapper>