<wrapper class="service background-gray">
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="34"></spacer>
            <table class="row service__item_wrap">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th class="service__text">
                                    <a href="https://slam.by" target="_blank" class="service__text service__link service__link-equipment">
                                        <img
                                                width="100%"
                                                src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/equipment_scale.png"
                                                alt="icon">
                                        <span class="service__text_empty">&nbsp;&nbsp;&nbsp;</span><span>Оборудование</span>
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="34"></spacer>
            <table class="row service__item_wrap">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th class="service__text">
                                    <a href="https://slam.by" target="_blank" class="service__text service__link service__link-materials">
                                        <img
                                                width="100%"
                                                src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/materials_scale.png"
                                                alt="icon">
                                        <span class="service__text_empty">&nbsp;&nbsp;&nbsp;</span><span>Расходные материалы</span>
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="40"></spacer>
            <table class="row service__item_wrap">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th class="service__text">
                                    <a href="https://slam.by" target="_blank" class="service__text service__link service__link-furniture">
                                        <img
                                                width="100%"
                                                src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/furniture_scale.png"
                                                alt="icon">
                                        <span class="service__text_empty">&nbsp;&nbsp;&nbsp;</span><span>Мебель</span>
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns large='12' small="12" class="service__item">
            <spacer size="38"></spacer>
            <table class="row service__item_wrap">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>

                                <th class="service__text">
                                    <a href="https://slam.by" target="_blank" class="service__text service__link service__link-cure">
                                        <img
                                                width="100%"
                                                src="https://alexandr-mi.github.io/pages/mail_temp/assets/img/icon/cure_scale.png"
                                                alt="icon">
                                        <span>&nbsp;&nbsp;&nbsp;Лекарственные средства</span>
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <spacer size="36"></spacer>
        </columns>
    </row>
</wrapper>